
<div class="container">
    <div class="chats">
        <ng-container *ngFor="let msg of messages.reverse()">
            <div *ngIf="msg.user" class="bubble right">
                {{msg.msg}}
            </div>
            <div *ngIf="!msg.user" class="bubble left">
                <chat-bubble [msg]="msg.msg" style="padding: 10px;"></chat-bubble>
            </div>
        </ng-container>
    </div>
    <div class="chat-input-container">
        <textarea class="chat-input" placeholder="I want to check my balance..." #messageInput></textarea>
        <button class="send-button" (click)='[onClick(messageInput.value), messageInput.value=""]'>
            <i class="arrow up"></i>
        </button>
    </div>
</div>