
<div class="container">
    <div class="chats">
        <ng-container *ngFor="let msg of messages.reverse()">
            <div *ngIf="msg.user" class="bubble right">
                {{msg.msg}}
            </div>
            <div *ngIf="!msg.user" class="bubble left">
                <chat-bubble [msg]="msg.msg" class="bubble left"></chat-bubble>
            </div>
        </ng-container>
    </div>
    <div class="formContainer">
        <form class="form">
            <mat-form-field class="message-input">
                <mat-label>type your message here</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." #messageInput></textarea>
            </mat-form-field>
            <button mat-stroked-button class="send-button" (click)='onClick(messageInput.value)'>Send</button>
        </form>
    </div>
</div>