<div>
    <h3 style="font-weight: bolder;">{{ name }} - Roth IRA {{ iraAccount}}</h3>
    <h5>Current Balance: ${{ iraBalance }}</h5>
    <mat-form-field appearance="fill" class="mat-form-field-w-margin">
        <mat-label>Funding Source</mat-label>
        <mat-select>
            <mat-option>Good Bank- 1234</mat-option>
            <mat-option>Decent Bank- 5678</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <p>Contributions: ${{ iraContributionsThisYear }}</p>
        <p>Year: 2024</p>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Enter Dollar Amount</mat-label>
        <input matInput type="text" >
    </mat-form-field>
    <div class= 'ira-btn-container'>
        <button class="ira-buttons cancel" mat-flat-button color="primary">
            Cancel
        </button>
        <button class="ira-buttons preview" mat-flat-button color="primary">
            Preview
        </button>
    </div>
</div>